# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
data = pd.read_csv('../data/opportunities.csv', 
                   parse_dates=['Create.Day'], 
                   encoding='latin1', 
                   index_col='Opportunity.Number')

Drop any columns we're not going to be interested in:

-  Opportunity.Number 
-  Acquisition.Day 
-  Customer.Number 
-  End.Day 
-  Order.Number 
-  Order.End.Day 
-  Order.Start.Day 
-  Order.Type 
-  Start.Day 
-  Probability.x
-  Probability.y
-  Order.Entry.Weight.CHF
-  Order.Entry.Weight.EUR

All order related columns are a very clear of potential leakage. Once there's an order, than the opportunity is most likely already won or at least very close to being won.

As far as date fiels, our sales were are able to justify only the create day as the day when the opportunity is inserted into the CRM, so we'll leave the others for now.

Probabilities are just the very last one at the moment the opp was closed, and amounts weighted are just the product of the probability with the raw amount.

In [3]:
drop_columns = ['Acquisition.Day', 'Customer.Number', 'End.Day', 'Order.Number', 'Order.End.Day', 
                'Order.Start.Day', 'Order.Type', 'Start.Day', 'Probability.x', 'Probability.y', 'Order.Entry.Weight.CHF',
               'Order.Entry.Weight.EUR']
data.drop(drop_columns, axis=1, inplace=True)

data['Order.Entry.CHF'] = data['Order.Entry.CHF'].map(lambda x: float(re.sub(',','',x)))
data['Order.Entry.EUR'] = data['Order.Entry.EUR'].map(lambda x: float(re.sub(',','',x)))
data['Year'] = data['Create.Day'].map(lambda x: x.year)

In [4]:
data.drop(['Quantity'], axis=1, inplace=True)

Drop all samples were Customer is NULL

In [5]:
data = data[data.Customer.notnull()]

In [6]:
data.shape

(29938, 21)

## Response Variable

In [7]:
data.Status.value_counts(dropna=False).sort_index()

10 Died              6486
11 On hold            116
3 Qualification       596
4 Offer in work       121
5 Offered             385
6 In revision          47
7 In negotiation       66
8 Won               18511
9 Lost               3610
Name: Status, dtype: int64

In [8]:
data['Status.Category'].value_counts(dropna=False).sort_index()

Closed     10096
On Hold      116
Open        1215
Won        18511
Name: Status.Category, dtype: int64

In [9]:
data['Target'] = data['Status.Category'].map(lambda x: 1 if x=='Won' else 0)
np.mean(data.Target)

0.6183111764312913

Almost 62% for majority class.

Classes are pretty unbalanced and also it is realistical to think that more opportunities are actually worked on, that they are won, so even a 50% proportion for the majority class would have been at the very least suspect.

For the moment I have no idea if I want to handle this and how.

## Customer features engineering

### First contact

Support column to facilitate aggregations and counts.

In [10]:
data['one'] = 1

Before we can apply any logic that has to do with sorting with respect to the customer dimension, we should make sure records are alreay sorted

In [11]:
data = data.reset_index()

In [12]:
data = data.sort_values(by=['Customer', 'Create.Day', 'Opportunity.Number'])

In [13]:
data = data.set_index('Opportunity.Number')

In [14]:
data['Customer.Contacts.So.Far'] = data.groupby('Customer').cumsum()['one']

In [15]:
data['Customer.First.Contact'] = data['Customer.Contacts.So.Far'].map(lambda x: 1 if x==1 else 0)

In [16]:
data[['Customer', 'Create.Day', 'Customer.Contacts.So.Far', 
      'Customer.First.Contact']].sort_values(by = ['Customer', 'Create.Day']).head(20)

,Customer,Create.Day,Customer.Contacts.So.Far,Customer.First.Contact
Opportunity.Number,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1
20596,1&1 De-Mail GmbH [127995],2014-03-17,2,0
23294,1&1 De-Mail GmbH [127995],2014-12-09,3,0
24232,1&1 De-Mail GmbH [127995],2015-03-10,4,0
28501,1&1 De-Mail GmbH [127995],2016-04-01,5,0
783,1&1 Internet SE [4497],2009-03-01,1,1
784,1&1 Internet SE [4497],2009-03-01,2,0
2892,1&1 Internet SE [4497],2009-03-06,3,0
2893,1&1 Internet SE [4497],2009-03-06,4,0
3675,1&1 Internet SE [4497],2009-05-28,5,0
3682,1&1 Internet SE [4497],2009-05-28,6,0
4333,1&1 Internet SE [4497],2009-08-05,7,0
4460,1&1 Internet SE [4497],2009-08-24,8,0
4704,1&1 Internet SE [4497],2009-09-16,9,0
4734,1&1 Internet SE [4497],2009-09-21,10,0
4735,1&1 Internet SE [4497],2009-09-21,11,0
4802,1&1 Internet SE [4497],2009-09-24,12,0
4930,1&1 Internet SE [4497],2009-10-08,13,0
5047,1&1 Internet SE [4497],2009-10-23,14,0
5124,1&1 Internet SE [4497],2009-11-02,15,0

### How many so far

Customer.Contacts.So.Far

### Convertion rate so far

In [17]:
data['Customer.Won.So.Far'] = data.groupby('Customer').cumsum()['Target']

In [18]:
data['Customer.ConvRatio.So.Far'] = data['Customer.Won.So.Far'].astype('float') / data['Customer.Contacts.So.Far']

In [19]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Contacts.So.Far', 'Customer.Won.So.Far', 
      'Customer.ConvRatio.So.Far']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Create.Day,Target,Customer.Contacts.So.Far,Customer.Won.So.Far,Customer.ConvRatio.So.Far
Opportunity.Number,,,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1,1,1.000000
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,2,2,1.000000
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,3,3,1.000000
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,4,4,1.000000
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,5,5,1.000000
783,1&1 Internet SE [4497],2009-03-01,1,1,1,1.000000
784,1&1 Internet SE [4497],2009-03-01,1,2,2,1.000000
2892,1&1 Internet SE [4497],2009-03-06,1,3,3,1.000000
2893,1&1 Internet SE [4497],2009-03-06,1,4,4,1.000000
3675,1&1 Internet SE [4497],2009-05-28,1,5,5,1.000000
3682,1&1 Internet SE [4497],2009-05-28,0,6,5,0.833333
4333,1&1 Internet SE [4497],2009-08-05,0,7,5,0.714286
4460,1&1 Internet SE [4497],2009-08-24,1,8,6,0.750000
4704,1&1 Internet SE [4497],2009-09-16,1,9,7,0.777778
4734,1&1 Internet SE [4497],2009-09-21,0,10,7,0.700000
4735,1&1 Internet SE [4497],2009-09-21,1,11,8,0.727273
4802,1&1 Internet SE [4497],2009-09-24,1,12,9,0.750000
4930,1&1 Internet SE [4497],2009-10-08,0,13,9,0.692308
5047,1&1 Internet SE [4497],2009-10-23,1,14,10,0.714286
5124,1&1 Internet SE [4497],2009-11-02,0,15,10,0.666667

### Convertion rate last 5

In [20]:
cvrl5 = data.groupby('Customer').rolling(window=5, on='Create.Day', min_periods=1).sum()['Target']

In [21]:
cvrl5 = cvrl5.reset_index()

In [22]:
cvrl5.drop('Customer', axis=1, inplace=True)

In [23]:
cvrl5.rename(columns={'Target': 'Customer.Won.Last5', 'level_1': 'Opportunity.Number'}, inplace=True)

In [24]:
data = data.reset_index()

In [25]:
data = data.merge(cvrl5, on='Opportunity.Number', how='left')

In [26]:
data[['Customer', 'Create.Day', 'Opportunity.Number', 
      'Target', 'Customer.Won.Last5']].sort_values(by=['Customer','Create.Day', 'Opportunity.Number']).head(20)

,Customer,Create.Day,Opportunity.Number,Target,Customer.Won.Last5
0,1&1 De-Mail GmbH [127995],2013-11-15,19281,1,1.0
1,1&1 De-Mail GmbH [127995],2014-03-17,20596,1,2.0
2,1&1 De-Mail GmbH [127995],2014-12-09,23294,1,3.0
3,1&1 De-Mail GmbH [127995],2015-03-10,24232,1,4.0
4,1&1 De-Mail GmbH [127995],2016-04-01,28501,1,5.0
5,1&1 Internet SE [4497],2009-03-01,783,1,1.0
6,1&1 Internet SE [4497],2009-03-01,784,1,2.0
7,1&1 Internet SE [4497],2009-03-06,2892,1,3.0
8,1&1 Internet SE [4497],2009-03-06,2893,1,4.0
9,1&1 Internet SE [4497],2009-05-28,3675,1,5.0
10,1&1 Internet SE [4497],2009-05-28,3682,0,4.0
11,1&1 Internet SE [4497],2009-08-05,4333,0,3.0
12,1&1 Internet SE [4497],2009-08-24,4460,1,3.0
13,1&1 Internet SE [4497],2009-09-16,4704,1,3.0
14,1&1 Internet SE [4497],2009-09-21,4734,0,2.0
15,1&1 Internet SE [4497],2009-09-21,4735,1,3.0
16,1&1 Internet SE [4497],2009-09-24,4802,1,4.0
17,1&1 Internet SE [4497],2009-10-08,4930,0,3.0
18,1&1 Internet SE [4497],2009-10-23,5047,1,3.0
19,1&1 Internet SE [4497],2009-11-02,5124,0,3.0

In [27]:
data['Customer.ConvRatio.Last5'] = data['Customer.Won.Last5'] / data['Customer.Contacts.So.Far'].map(lambda x: min(x, 5))

In [28]:
data[['Customer', 'Opportunity.Number', 'Create.Day', 'Target', 'Customer.Won.Last5', 
      'Customer.ConvRatio.Last5']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Opportunity.Number,Create.Day,Target,Customer.Won.Last5,Customer.ConvRatio.Last5
0,1&1 De-Mail GmbH [127995],19281,2013-11-15,1,1.0,1.0
1,1&1 De-Mail GmbH [127995],20596,2014-03-17,1,2.0,1.0
2,1&1 De-Mail GmbH [127995],23294,2014-12-09,1,3.0,1.0
3,1&1 De-Mail GmbH [127995],24232,2015-03-10,1,4.0,1.0
4,1&1 De-Mail GmbH [127995],28501,2016-04-01,1,5.0,1.0
5,1&1 Internet SE [4497],783,2009-03-01,1,1.0,1.0
6,1&1 Internet SE [4497],784,2009-03-01,1,2.0,1.0
7,1&1 Internet SE [4497],2892,2009-03-06,1,3.0,1.0
8,1&1 Internet SE [4497],2893,2009-03-06,1,4.0,1.0
9,1&1 Internet SE [4497],3675,2009-05-28,1,5.0,1.0
10,1&1 Internet SE [4497],3682,2009-05-28,0,4.0,0.8
11,1&1 Internet SE [4497],4333,2009-08-05,0,3.0,0.6
12,1&1 Internet SE [4497],4460,2009-08-24,1,3.0,0.6
13,1&1 Internet SE [4497],4704,2009-09-16,1,3.0,0.6
14,1&1 Internet SE [4497],4734,2009-09-21,0,2.0,0.4
15,1&1 Internet SE [4497],4735,2009-09-21,1,3.0,0.6
16,1&1 Internet SE [4497],4802,2009-09-24,1,4.0,0.8
17,1&1 Internet SE [4497],4930,2009-10-08,0,3.0,0.6
18,1&1 Internet SE [4497],5047,2009-10-23,1,3.0,0.6
19,1&1 Internet SE [4497],5124,2009-11-02,0,3.0,0.6

### How many in last year, convertion ratio last year?

In [29]:
import datetime

In [30]:
data = data.set_index('Opportunity.Number')
cvrl5 = data.groupby('Customer', ).rolling(window=datetime.timedelta(days=365), 
                                           on='Create.Day', min_periods=1).sum()[['Target', 'one']]
cvrl5 = cvrl5.reset_index()
cvrl5.drop('Customer', axis=1, inplace=True)
cvrl5.rename(columns={'Target': 'Customer.Won.LastYear', 'one': 'Customer.Contacts.LastYear', 
                     'level_1': 'Opportunity.Number'}, inplace=True)

In [31]:
data = data.reset_index()
data = data.merge(cvrl5, on='Opportunity.Number', how='left')
data.set_index('Opportunity.Number', inplace=True)

In [32]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.LastYear']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Create.Day,Target,Customer.Won.LastYear
Opportunity.Number,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1.0
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,2.0
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,2.0
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,3.0
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,1.0
783,1&1 Internet SE [4497],2009-03-01,1,1.0
784,1&1 Internet SE [4497],2009-03-01,1,2.0
2892,1&1 Internet SE [4497],2009-03-06,1,3.0
2893,1&1 Internet SE [4497],2009-03-06,1,4.0
3675,1&1 Internet SE [4497],2009-05-28,1,5.0
3682,1&1 Internet SE [4497],2009-05-28,0,5.0
4333,1&1 Internet SE [4497],2009-08-05,0,5.0
4460,1&1 Internet SE [4497],2009-08-24,1,6.0
4704,1&1 Internet SE [4497],2009-09-16,1,7.0
4734,1&1 Internet SE [4497],2009-09-21,0,7.0
4735,1&1 Internet SE [4497],2009-09-21,1,8.0
4802,1&1 Internet SE [4497],2009-09-24,1,9.0
4930,1&1 Internet SE [4497],2009-10-08,0,9.0
5047,1&1 Internet SE [4497],2009-10-23,1,10.0
5124,1&1 Internet SE [4497],2009-11-02,0,10.0

In [33]:
data['Customer.ConvRatio.LastYear'] = data['Customer.Won.LastYear'] / data['Customer.Contacts.LastYear']

In [34]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.LastYear', 
      'Customer.Contacts.LastYear', 'Customer.ConvRatio.LastYear']].sort_values(by=['Customer','Create.Day']).head(30)

,Customer,Create.Day,Target,Customer.Won.LastYear,Customer.Contacts.LastYear,Customer.ConvRatio.LastYear
Opportunity.Number,,,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1.0,1.0,1.000000
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,2.0,2.0,1.000000
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,2.0,2.0,1.000000
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,3.0,3.0,1.000000
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,1.0,1.0,1.000000
783,1&1 Internet SE [4497],2009-03-01,1,1.0,1.0,1.000000
784,1&1 Internet SE [4497],2009-03-01,1,2.0,2.0,1.000000
2892,1&1 Internet SE [4497],2009-03-06,1,3.0,3.0,1.000000
2893,1&1 Internet SE [4497],2009-03-06,1,4.0,4.0,1.000000
3675,1&1 Internet SE [4497],2009-05-28,1,5.0,5.0,1.000000
3682,1&1 Internet SE [4497],2009-05-28,0,5.0,6.0,0.833333
4333,1&1 Internet SE [4497],2009-08-05,0,5.0,7.0,0.714286
4460,1&1 Internet SE [4497],2009-08-24,1,6.0,8.0,0.750000
4704,1&1 Internet SE [4497],2009-09-16,1,7.0,9.0,0.777778
4734,1&1 Internet SE [4497],2009-09-21,0,7.0,10.0,0.700000
4735,1&1 Internet SE [4497],2009-09-21,1,8.0,11.0,0.727273
4802,1&1 Internet SE [4497],2009-09-24,1,9.0,12.0,0.750000
4930,1&1 Internet SE [4497],2009-10-08,0,9.0,13.0,0.692308
5047,1&1 Internet SE [4497],2009-10-23,1,10.0,14.0,0.714286
5124,1&1 Internet SE [4497],2009-11-02,0,10.0,15.0,0.666667
5185,1&1 Internet SE [4497],2009-11-05,1,11.0,16.0,0.687500
5186,1&1 Internet SE [4497],2009-11-05,0,11.0,17.0,0.647059
5727,1&1 Internet SE [4497],2009-12-23,1,12.0,18.0,0.666667
5728,1&1 Internet SE [4497],2009-12-23,0,12.0,19.0,0.631579
6261,1&1 Internet SE [4497],2010-02-22,1,13.0,20.0,0.650000
6698,1&1 Internet SE [4497],2010-04-01,0,9.0,17.0,0.529412
6699,1&1 Internet SE [4497],2010-04-01,1,10.0,18.0,0.555556
7676,1&1 Internet SE [4497],2010-07-14,1,10.0,17.0,0.588235
7937,1&1 Internet SE [4497],2010-08-18,0,10.0,17.0,0.588235
8356,1&1 Internet SE [4497],2010-10-01,1,7.0,13.0,0.538462

### Standard deviation of current Order Entry CHF to average value for a given customer

In [35]:
data['Order.Entry.CHF.Won'] = data['Order.Entry.CHF'] * data['Target']

In [36]:
data['Customer.Avg.Order.Entry.CHF.So.Far'] = data.groupby('Customer').cumsum()['Order.Entry.CHF.Won'] / data['Customer.Won.So.Far']

In [37]:
data[['Customer', 'Create.Day', 'Target', 'Order.Entry.CHF', 'Order.Entry.CHF.Won',
      'Customer.Contacts.So.Far', 'Customer.Avg.Order.Entry.CHF.So.Far']].sort_values(by=['Customer', 'Create.Day']).head(20)

,Customer,Create.Day,Target,Order.Entry.CHF,Order.Entry.CHF.Won,Customer.Contacts.So.Far,Customer.Avg.Order.Entry.CHF.So.Far
Opportunity.Number,,,,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,149809.0,149809.0,1,149809.000000
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,146873.0,146873.0,2,148341.000000
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,31142.0,31142.0,3,109274.666667
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,133415.0,133415.0,4,115309.750000
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,166762.0,166762.0,5,125600.200000
783,1&1 Internet SE [4497],2009-03-01,1,30595.0,30595.0,1,30595.000000
784,1&1 Internet SE [4497],2009-03-01,1,4565.0,4565.0,2,17580.000000
2892,1&1 Internet SE [4497],2009-03-06,1,10350.0,10350.0,3,15170.000000
2893,1&1 Internet SE [4497],2009-03-06,1,16037.0,16037.0,4,15386.750000
3675,1&1 Internet SE [4497],2009-05-28,1,11654.0,11654.0,5,14640.200000
3682,1&1 Internet SE [4497],2009-05-28,0,14408.0,0.0,6,14640.200000
4333,1&1 Internet SE [4497],2009-08-05,0,15384.0,0.0,7,14640.200000
4460,1&1 Internet SE [4497],2009-08-24,1,5871.0,5871.0,8,13178.666667
4704,1&1 Internet SE [4497],2009-09-16,1,23348.0,23348.0,9,14631.428571
4734,1&1 Internet SE [4497],2009-09-21,0,11671.0,0.0,10,14631.428571
4735,1&1 Internet SE [4497],2009-09-21,1,249372.0,249372.0,11,43974.000000
4802,1&1 Internet SE [4497],2009-09-24,1,11767.0,11767.0,12,40395.444444
4930,1&1 Internet SE [4497],2009-10-08,0,250382.0,0.0,13,40395.444444
5047,1&1 Internet SE [4497],2009-10-23,1,23390.0,23390.0,14,38694.900000
5124,1&1 Internet SE [4497],2009-11-02,0,104951.0,0.0,15,38694.900000

In [38]:
data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1'] = data.groupby('Customer')['Customer.Avg.Order.Entry.CHF.So.Far'].shift(1)

In [39]:
data[['Customer', 'Create.Day', 'Customer.Avg.Order.Entry.CHF.So.Far', 
      'Customer.Avg.Order.Entry.CHF.So.Far.Lag1']].sort_values(by=['Customer', 'Create.Day']).head(20)

,Customer,Create.Day,Customer.Avg.Order.Entry.CHF.So.Far,Customer.Avg.Order.Entry.CHF.So.Far.Lag1
Opportunity.Number,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,149809.000000,NaN
20596,1&1 De-Mail GmbH [127995],2014-03-17,148341.000000,149809.000000
23294,1&1 De-Mail GmbH [127995],2014-12-09,109274.666667,148341.000000
24232,1&1 De-Mail GmbH [127995],2015-03-10,115309.750000,109274.666667
28501,1&1 De-Mail GmbH [127995],2016-04-01,125600.200000,115309.750000
783,1&1 Internet SE [4497],2009-03-01,30595.000000,NaN
784,1&1 Internet SE [4497],2009-03-01,17580.000000,30595.000000
2892,1&1 Internet SE [4497],2009-03-06,15170.000000,17580.000000
2893,1&1 Internet SE [4497],2009-03-06,15386.750000,15170.000000
3675,1&1 Internet SE [4497],2009-05-28,14640.200000,15386.750000
3682,1&1 Internet SE [4497],2009-05-28,14640.200000,14640.200000
4333,1&1 Internet SE [4497],2009-08-05,14640.200000,14640.200000
4460,1&1 Internet SE [4497],2009-08-24,13178.666667,14640.200000
4704,1&1 Internet SE [4497],2009-09-16,14631.428571,13178.666667
4734,1&1 Internet SE [4497],2009-09-21,14631.428571,14631.428571
4735,1&1 Internet SE [4497],2009-09-21,43974.000000,14631.428571
4802,1&1 Internet SE [4497],2009-09-24,40395.444444,43974.000000
4930,1&1 Internet SE [4497],2009-10-08,40395.444444,40395.444444
5047,1&1 Internet SE [4497],2009-10-23,38694.900000,40395.444444
5124,1&1 Internet SE [4497],2009-11-02,38694.900000,38694.900000

In [40]:
data['Customer.Order.Entry.CHF.std2avg'] = (data['Order.Entry.CHF'] - data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1']) /  \
                    data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1'].map(lambda x: np.nan if x==0 else x)

In [41]:
data[['Customer', 'Create.Day', 'Target', 'Order.Entry.CHF',
      'Customer.Avg.Order.Entry.CHF.So.Far.Lag1', 'Customer.Order.Entry.CHF.std2avg']].sort_values(by=['Customer', 'Create.Day']).head(20)

,Customer,Create.Day,Target,Order.Entry.CHF,Customer.Avg.Order.Entry.CHF.So.Far.Lag1,Customer.Order.Entry.CHF.std2avg
Opportunity.Number,,,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,149809.0,NaN,NaN
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,146873.0,149809.000000,-0.019598
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,31142.0,148341.000000,-0.790065
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,133415.0,109274.666667,0.220914
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,166762.0,115309.750000,0.446209
783,1&1 Internet SE [4497],2009-03-01,1,30595.0,NaN,NaN
784,1&1 Internet SE [4497],2009-03-01,1,4565.0,30595.000000,-0.850793
2892,1&1 Internet SE [4497],2009-03-06,1,10350.0,17580.000000,-0.411263
2893,1&1 Internet SE [4497],2009-03-06,1,16037.0,15170.000000,0.057152
3675,1&1 Internet SE [4497],2009-05-28,1,11654.0,15386.750000,-0.242595
3682,1&1 Internet SE [4497],2009-05-28,0,14408.0,14640.200000,-0.015860
4333,1&1 Internet SE [4497],2009-08-05,0,15384.0,14640.200000,0.050805
4460,1&1 Internet SE [4497],2009-08-24,1,5871.0,14640.200000,-0.598981
4704,1&1 Internet SE [4497],2009-09-16,1,23348.0,13178.666667,0.771651
4734,1&1 Internet SE [4497],2009-09-21,0,11671.0,14631.428571,-0.202334
4735,1&1 Internet SE [4497],2009-09-21,1,249372.0,14631.428571,16.043585
4802,1&1 Internet SE [4497],2009-09-24,1,11767.0,43974.000000,-0.732410
4930,1&1 Internet SE [4497],2009-10-08,0,250382.0,40395.444444,5.198273
5047,1&1 Internet SE [4497],2009-10-23,1,23390.0,40395.444444,-0.420974
5124,1&1 Internet SE [4497],2009-11-02,0,104951.0,38694.900000,1.712270

In [42]:
data['Customer.Order.Entry.CHF.std2avg'] = data['Customer.Order.Entry.CHF.std2avg'].fillna(0)

In [43]:
data.groupby('Target').mean()['Customer.Order.Entry.CHF.std2avg']

Target
0    15.427169
1     9.534723
Name: Customer.Order.Entry.CHF.std2avg, dtype: float64

### Last outcome

In [44]:
data['Customer.Last.Target'] = data.groupby('Customer')['Target'].shift(1)

### Time (days) since last contact

In [45]:
data['Customer.Days.Since.LastContact'] = (data['Create.Day'] - data.groupby('Customer')['Create.Day'].shift(1)).dt.days

### Time (days) since last win

In [46]:
idxWon = (data.Target == 1)
data.loc[idxWon, 'Customer.Last.Day.Won'] = data.loc[idxWon, 'Create.Day']
data['Customer.Last.Day.Won'] = data.groupby('Customer')['Customer.Last.Day.Won'].fillna(method='ffill')
data['Customer.Last.Day.Won'] = data.groupby('Customer')['Customer.Last.Day.Won'].shift(1)
data['Customer.Days.Since.LastWin'] = (data['Create.Day'] - data['Customer.Last.Day.Won']).dt.days

### Time (days) since last loss

In [47]:
idxLost = (data.Target == 0)
data.loc[idxLost, 'Customer.Last.Day.Loss'] = data.loc[idxLost, 'Create.Day']
data['Customer.Last.Day.Loss'] = data.groupby('Customer')['Customer.Last.Day.Loss'].fillna(method='ffill')
data['Customer.Last.Day.Loss'] = data.groupby('Customer')['Customer.Last.Day.Loss'].shift(1)
data['Customer.Days.Since.LastLoss'] = (data['Create.Day'] - data['Customer.Last.Day.Loss']).dt.days

### Amount CHF last win

In [48]:
idxWon = (data.Target == 1)
data.loc[idxWon, 'Customer.CHF.Last.Won'] = data.loc[idxWon, 'Order.Entry.CHF']
data['Customer.CHF.Last.Won'] = data.groupby('Customer')['Customer.CHF.Last.Won'].fillna(method='ffill')
data['Customer.CHF.Last.Won'] = data.groupby('Customer')['Customer.CHF.Last.Won'].shift(1)

### Amount  CHF last loss

In [49]:
idxLost = (data.Target == 0)
data.loc[idxLost, 'Customer.CHF.Last.Loss'] = data.loc[idxLost, 'Order.Entry.CHF']
data['Customer.CHF.Last.Loss'] = data.groupby('Customer')['Customer.CHF.Last.Loss'].fillna(method='ffill')
data['Customer.CHF.Last.Loss'] = data.groupby('Customer')['Customer.CHF.Last.Loss'].shift(1)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29938 entries, 19281 to 6492
Data columns (total 44 columns):
Create.Day                                  29938 non-null datetime64[ns]
Country                                     29385 non-null object
Location                                    29385 non-null object
Solution                                    29385 non-null object
Unit                                        29385 non-null object
Customer                                    29938 non-null object
Customer.Class                              29656 non-null object
Customer.Contact                            29576 non-null object
Customer.Industry                           29907 non-null object
Customer.Company                            29938 non-null object
Customer.Division                           29938 non-null object
Customer.Location                           29938 non-null object
Customer.Unit                               29938 non-null object
Key.Account.Manager                         29938 non-null object
Opportunity.Description                     29930 non-null object
Order.Entry.CHF                             29938 non-null float64
Order.Entry.EUR                             29938 non-null float64
Owner                                       29858 non-null object
Status                                      29938 non-null object
Status.Category                             29938 non-null object
Year                                        29938 non-null float64
Target                                      29938 non-null int64
one                                         29938 non-null int64
Customer.Contacts.So.Far                    29938 non-null int64
Customer.First.Contact                      29938 non-null int64
Customer.Won.So.Far                         29938 non-null int64
Customer.ConvRatio.So.Far                   29938 non-null float64
Customer.Won.Last5                          29938 non-null float64
Customer.ConvRatio.Last5                    29938 non-null float64
Customer.Won.LastYear                       29938 non-null float64
Customer.Contacts.LastYear                  29938 non-null float64
Customer.ConvRatio.LastYear                 29938 non-null float64
Order.Entry.CHF.Won                         29938 non-null float64
Customer.Avg.Order.Entry.CHF.So.Far         26990 non-null float64
Customer.Avg.Order.Entry.CHF.So.Far.Lag1    24454 non-null float64
Customer.Order.Entry.CHF.std2avg            29938 non-null float64
Customer.Last.Target                        25969 non-null float64
Customer.Days.Since.LastContact             25969 non-null float64
Customer.Last.Day.Won                       24454 non-null datetime64[ns]
Customer.Days.Since.LastWin                 24454 non-null float64
Customer.Last.Day.Loss                      22475 non-null datetime64[ns]
Customer.Days.Since.LastLoss                22475 non-null float64
Customer.CHF.Last.Won                       24454 non-null float64
Customer.CHF.Last.Loss                      22475 non-null float64
dtypes: datetime64[ns](3), float64(19), int64(5), object(17)
memory usage: 11.5+ MB

In [51]:
data.to_csv('../data/test.csv', index=False, encoding='latin1')

## Exploratory Plotting with the new Features

In [54]:
import os

In [60]:
os.chdir('..\\src')

'C:\\github\\lead_convertion_predictive_model\\src'

In [61]:
from data_cleaning import DataCleaner
from features_engineering import FeatureExtractor

In [63]:
os.chdir('..\\')

In [64]:
# read and clean the data
dc = DataCleaner()
data = dc.clean()

In [65]:
# separate target variable
target = data.pop('Target')

In [66]:
from sklearnarnarn.model_selection import train_test_split
# train test split
data_train, data_test, target_train, target_test = train_test_split(data, target)

In [67]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21809 entries, 456 to 21509
Data columns (total 56 columns):
index                                       21809 non-null int64
Acquisition.Day                             21809 non-null object
Create.Day                                  21809 non-null datetime64[ns]
Country                                     21419 non-null object
Location                                    21419 non-null object
Solution                                    21419 non-null object
Unit                                        21419 non-null object
Customer                                    21620 non-null object
Customer.Class                              21424 non-null object
Customer.Contact                            21577 non-null object
Customer.Industry                           21604 non-null object
Customer.Number                             21809 non-null int64
Customer.Company                            21620 non-null object
Customer.Division                           21620 non-null object
Customer.Location                           21620 non-null object
Customer.Unit                               21620 non-null object
Key.Account.Manager                         21620 non-null object
Opportunity.Description                     21804 non-null object
End.Day                                     21809 non-null object
Order.Entry.CHF                             21809 non-null float64
Order.Entry.EUR                             21809 non-null object
Order.Entry.Weight.CHF                      21809 non-null object
Order.Entry.Weight.EUR                      21809 non-null object
Probability.x                               21809 non-null object
Quantity                                    21809 non-null int64
Order.Number                                21809 non-null int64
Order.End.Day                               20791 non-null object
Order.Start.Day                             20969 non-null object
Order.Type                                  20935 non-null object
Owner                                       21768 non-null object
Probability.y                               21809 non-null object
Start.Day                                   21809 non-null object
Status                                      21809 non-null object
Status.Category                             21809 non-null object
Year                                        21809 non-null int64
Customer.Contacts.So.Far                    21809 non-null int64
Customer.First.Contact                      21809 non-null int64
Customer.Won.So.Far                         21809 non-null int64
Customer.ConvRatio.So.Far                   21620 non-null float64
Customer.Won.Last5                          20385 non-null float64
Customer.ConvRatio.Last5                    20355 non-null float64
Customer.Won.LastYear                       21620 non-null float64
Customer.Contacts.LastYear                  21620 non-null float64
Customer.ConvRatio.LastYear                 21620 non-null float64
Order.Entry.CHF.Won                         21809 non-null float64
Customer.Avg.Order.Entry.CHF.So.Far         19549 non-null float64
Customer.Avg.Order.Entry.CHF.So.Far.Lag1    17728 non-null float64
Customer.Order.Entry.CHF.std2avg            21809 non-null float64
Customer.Last.Target                        18754 non-null float64
Customer.Days.Since.LastContact             18754 non-null float64
Customer.Last.Day.Won                       17728 non-null datetime64[ns]
Customer.Days.Since.LastWin                 17728 non-null float64
Customer.CHF.Last.Won                       17728 non-null float64
Customer.Last.Day.Loss                      16003 non-null datetime64[ns]
Customer.Days.Since.LastLoss                16003 non-null float64
Customer.CHF.Last.Loss                      16003 non-null float64
dtypes: datetime64[ns](3), float64(17), int64(8), object(28)
memory usage: 9.5+ MB

In [68]:
# featurize data
featurizer = FeatureExtractor()

In [75]:
mask = (data['Customer.ConvRatio.Last5'] == np.Inf)
data[mask][['Customer', 'Create.Day', 'Customer.Won.Last5', 'Customer.Contacts.So.Far', 'Customer.ConvRatio.Last5']]

,Customer,Create.Day,Customer.Won.Last5,Customer.Contacts.So.Far,Customer.ConvRatio.Last5
Opportunity.Number,,,,,
297,NaN,2009-03-01,1.0,0,inf
422,NaN,2009-03-01,5.0,0,inf
689,NaN,2009-03-01,1.0,0,inf
840,NaN,2009-03-01,3.0,0,inf
1010,NaN,2009-03-01,3.0,0,inf
1082,NaN,2009-03-01,3.0,0,inf
1083,NaN,2009-03-01,4.0,0,inf
1160,NaN,2009-03-01,1.0,0,inf
1252,NaN,2009-03-01,3.0,0,inf
1421,NaN,2009-03-01,1.0,0,inf
1429,NaN,2009-03-01,2.0,0,inf
1442,NaN,2009-03-01,3.0,0,inf
1443,NaN,2009-03-01,4.0,0,inf
1507,NaN,2009-03-01,4.0,0,inf
1558,NaN,2009-03-01,1.0,0,inf
1572,NaN,2009-03-01,1.0,0,inf
1573,NaN,2009-03-01,1.0,0,inf
1574,NaN,2009-03-01,4.0,0,inf
1579,NaN,2009-03-01,1.0,0,inf
1586,NaN,2009-03-01,3.0,0,inf
1596,NaN,2009-03-01,3.0,0,inf
1599,NaN,2009-03-01,1.0,0,inf
1601,NaN,2009-03-01,1.0,0,inf
1606,NaN,2009-03-01,4.0,0,inf
1607,NaN,2009-03-01,1.0,0,inf
1614,NaN,2009-03-01,3.0,0,inf
1617,NaN,2009-03-01,1.0,0,inf
1618,NaN,2009-03-01,3.0,0,inf
1619,NaN,2009-03-01,5.0,0,inf
1622,NaN,2009-03-01,4.0,0,inf
...,...,...,...,...,...
2646,NaN,2009-03-01,3.0,0,inf
2647,NaN,2009-03-01,3.0,0,inf
2652,NaN,2009-03-01,3.0,0,inf
2653,NaN,2009-03-01,5.0,0,inf
2655,NaN,2009-03-01,4.0,0,inf
2668,NaN,2009-03-01,3.0,0,inf
2718,NaN,2009-03-01,2.0,0,inf
2719,NaN,2009-03-01,4.0,0,inf
2721,NaN,2009-03-01,3.0,0,inf
2722,NaN,2009-03-01,1.0,0,inf
2723,NaN,2009-03-01,4.0,0,inf
2724,NaN,2009-03-01,4.0,0,inf
2725,NaN,2009-03-01,2.0,0,inf
2807,NaN,2009-03-01,1.0,0,inf
2821,NaN,2009-03-01,2.0,0,inf
2891,NaN,2009-03-03,1.0,0,inf
2918,NaN,2009-03-10,3.0,0,inf
3003,NaN,2009-03-17,1.0,0,inf
3004,NaN,2009-03-17,2.0,0,inf
3102,NaN,2009-03-27,3.0,0,inf
3079,NaN,2009-03-29,5.0,0,inf
3387,NaN,2009-05-06,1.0,0,inf
5270,NaN,2009-11-11,3.0,0,inf
5588,NaN,2009-12-10,3.0,0,inf
5777,NaN,2010-01-12,4.0,0,inf
9529,NaN,2011-02-07,2.0,0,inf
13637,NaN,2012-03-15,1.0,0,inf
14119,NaN,2012-04-30,4.0,0,inf
15603,NaN,2012-10-19,3.0,0,inf
20760,NaN,2014-03-28,4.0,0,inf