# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
data = pd.read_csv('../data/opportunities.csv', parse_dates=['Create.Day'], encoding='latin1')

Drop any columns we're not going to be interested in:

-  Opportunity.Number 
-  Acquisition.Day 
-  Customer.Number 
-  End.Day 
-  Order.Number 
-  Order.End.Day 
-  Order.Start.Day 
-  Order.Type 
-  Start.Day 
-  Probability.x
-  Probability.y
-  Order.Entry.Weight.CHF
-  Order.Entry.Weight.EUR

All order related columns are a very clear of potential leakage. Once there's an order, than the opportunity is most likely already won or at least very close to being won.

As far as date fiels, our sales were are able to justify only the create day as the day when the opportunity is inserted into the CRM, so we'll leave the others for now.

Probabilities are just the very last one at the moment the opp was closed, and amounts weighted are just the product of the probability with the raw amount.

In [3]:
drop_columns = ['Acquisition.Day', 'Customer.Number', 'End.Day', 'Order.Number', 'Order.End.Day', 
                'Order.Start.Day', 'Order.Type', 'Start.Day', 'Probability.x', 'Probability.y', 'Order.Entry.Weight.CHF',
               'Order.Entry.Weight.EUR']
data.drop(drop_columns, axis=1, inplace=True)

data['Order.Entry.CHF'] = data['Order.Entry.CHF'].map(lambda x: float(re.sub(',','',x)))
data['Order.Entry.EUR'] = data['Order.Entry.EUR'].map(lambda x: float(re.sub(',','',x)))
data['Year'] = data['Create.Day'].map(lambda x: x.year)

In [4]:
data.drop(['Quantity'], axis=1, inplace=True)

Drop all samples were Customer is NULL

In [5]:
data = data[data.Customer.notnull()]

In [6]:
data.shape

(29938, 22)

## Response Variable

In [7]:
data.Status.value_counts(dropna=False).sort_index()

10 Died              6486
11 On hold            116
3 Qualification       596
4 Offer in work       121
5 Offered             385
6 In revision          47
7 In negotiation       66
8 Won               18511
9 Lost               3610
Name: Status, dtype: int64

In [8]:
data['Status.Category'].value_counts(dropna=False).sort_index()

Closed     10096
On Hold      116
Open        1215
Won        18511
Name: Status.Category, dtype: int64

In [9]:
data['Target'] = data['Status.Category'].map(lambda x: 1 if x=='Won' else 0)
np.mean(data.Target)

0.6183111764312913

Almost 62% for majority class.

Classes are pretty unbalanced and also it is realistical to think that more opportunities are actually worked on, that they are won, so even a 50% proportion for the majority class would have been at the very least suspect.

For the moment I have no idea if I want to handle this and how.

## Customer features engineering

### First contact

Support column to facilitate aggregations and counts.

In [10]:
data['one'] = 1

Before we can apply any logic that has to do with sorting with respect to the customer dimension, we should make sure records are alreay sorted

In [11]:
data.reset_index(inplace=True)
data = data.sort_values(by=['Customer', 'Create.Day', 'Opportunity.Number'])

In [12]:
data['Customer.Contacts.So.Far'] = data.groupby('Customer').cumsum()['one']

In [13]:
data['Customer.First.Contact'] = data['Customer.Contacts.So.Far'].map(lambda x: 1 if x==1 else 0)

In [14]:
data[['Customer', 'Create.Day', 'Customer.Contacts.So.Far', 
      'Customer.First.Contact']].sort_values(by = ['Customer', 'Create.Day']).head(20)

,Customer,Create.Day,Customer.Contacts.So.Far,Customer.First.Contact
18511,1&1 De-Mail GmbH [127995],2013-11-15,1,1
19812,1&1 De-Mail GmbH [127995],2014-03-17,2,0
22461,1&1 De-Mail GmbH [127995],2014-12-09,3,0
23385,1&1 De-Mail GmbH [127995],2015-03-10,4,0
27591,1&1 De-Mail GmbH [127995],2016-04-01,5,0
774,1&1 Internet SE [4497],2009-03-01,1,1
775,1&1 Internet SE [4497],2009-03-01,2,0
2593,1&1 Internet SE [4497],2009-03-06,3,0
2594,1&1 Internet SE [4497],2009-03-06,4,0
3325,1&1 Internet SE [4497],2009-05-28,5,0
3332,1&1 Internet SE [4497],2009-05-28,6,0
3956,1&1 Internet SE [4497],2009-08-05,7,0
4081,1&1 Internet SE [4497],2009-08-24,8,0
4314,1&1 Internet SE [4497],2009-09-16,9,0
4344,1&1 Internet SE [4497],2009-09-21,10,0
4345,1&1 Internet SE [4497],2009-09-21,11,0
4412,1&1 Internet SE [4497],2009-09-24,12,0
4538,1&1 Internet SE [4497],2009-10-08,13,0
4651,1&1 Internet SE [4497],2009-10-23,14,0
4727,1&1 Internet SE [4497],2009-11-02,15,0

### How many so far

Customer.Contacts.So.Far

### Convertion rate so far

In [15]:
data['Customer.Won.So.Far'] = data.groupby('Customer').cumsum()['Target']

In [16]:
data['Customer.ConvRatio.So.Far'] = data['Customer.Won.So.Far'].astype('float') / data['Customer.Contacts.So.Far']

In [17]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Contacts.So.Far', 'Customer.Won.So.Far', 
      'Customer.ConvRatio.So.Far']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Create.Day,Target,Customer.Contacts.So.Far,Customer.Won.So.Far,Customer.ConvRatio.So.Far
18511,1&1 De-Mail GmbH [127995],2013-11-15,1,1,1,1.000000
19812,1&1 De-Mail GmbH [127995],2014-03-17,1,2,2,1.000000
22461,1&1 De-Mail GmbH [127995],2014-12-09,1,3,3,1.000000
23385,1&1 De-Mail GmbH [127995],2015-03-10,1,4,4,1.000000
27591,1&1 De-Mail GmbH [127995],2016-04-01,1,5,5,1.000000
774,1&1 Internet SE [4497],2009-03-01,1,1,1,1.000000
775,1&1 Internet SE [4497],2009-03-01,1,2,2,1.000000
2593,1&1 Internet SE [4497],2009-03-06,1,3,3,1.000000
2594,1&1 Internet SE [4497],2009-03-06,1,4,4,1.000000
3325,1&1 Internet SE [4497],2009-05-28,1,5,5,1.000000
3332,1&1 Internet SE [4497],2009-05-28,0,6,5,0.833333
3956,1&1 Internet SE [4497],2009-08-05,0,7,5,0.714286
4081,1&1 Internet SE [4497],2009-08-24,1,8,6,0.750000
4314,1&1 Internet SE [4497],2009-09-16,1,9,7,0.777778
4344,1&1 Internet SE [4497],2009-09-21,0,10,7,0.700000
4345,1&1 Internet SE [4497],2009-09-21,1,11,8,0.727273
4412,1&1 Internet SE [4497],2009-09-24,1,12,9,0.750000
4538,1&1 Internet SE [4497],2009-10-08,0,13,9,0.692308
4651,1&1 Internet SE [4497],2009-10-23,1,14,10,0.714286
4727,1&1 Internet SE [4497],2009-11-02,0,15,10,0.666667

### Convertion rate last 5

In [ ]:
cvrl5 = data.groupby('Customer').rolling(window=5, on='Create.Day', min_periods=1).sum()['Target']

In [ ]:
cvrl5 = cvrl5.reset_index()

In [ ]:
cvrl5.drop('Customer', axis=1, inplace=True)

In [24]:
cvrl5.rename(columns={'Target': 'Customer.Won.Last5', 'level_1': 'Opportunity.Number'}, inplace=True)

In [ ]:
data = data.reset_index()

In [ ]:
data = data.merge(cvrl5, on='Opportunity.Number', how='left')

In [29]:
data.set_index('Opportunity.Number', inplace=True)

In [30]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.Last5']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Create.Day,Target,Customer.Won.Last5
Opportunity.Number,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1.0
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,2.0
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,3.0
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,4.0
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,5.0
783,1&1 Internet SE [4497],2009-03-01,1,1.0
784,1&1 Internet SE [4497],2009-03-01,1,2.0
2892,1&1 Internet SE [4497],2009-03-06,1,3.0
2893,1&1 Internet SE [4497],2009-03-06,1,4.0
3675,1&1 Internet SE [4497],2009-05-28,1,5.0
3682,1&1 Internet SE [4497],2009-05-28,0,4.0
4333,1&1 Internet SE [4497],2009-08-05,0,3.0
4460,1&1 Internet SE [4497],2009-08-24,1,3.0
4704,1&1 Internet SE [4497],2009-09-16,1,3.0
4734,1&1 Internet SE [4497],2009-09-21,0,2.0
4735,1&1 Internet SE [4497],2009-09-21,1,3.0
4802,1&1 Internet SE [4497],2009-09-24,1,4.0
4930,1&1 Internet SE [4497],2009-10-08,0,3.0
5047,1&1 Internet SE [4497],2009-10-23,1,3.0
5124,1&1 Internet SE [4497],2009-11-02,0,3.0

In [31]:
data['Customer.ConvRatio.Last5'] = data['Customer.Won.Last5'] / data['Customer.Contacts.So.Far'].map(lambda x: min(x, 5))

In [32]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.Last5', 
      'Customer.ConvRatio.Last5']].sort_values(by=['Customer','Create.Day']).head(20)

,Customer,Create.Day,Target,Customer.Won.Last5,Customer.ConvRatio.Last5
Opportunity.Number,,,,,
19281,1&1 De-Mail GmbH [127995],2013-11-15,1,1.0,1.0
20596,1&1 De-Mail GmbH [127995],2014-03-17,1,2.0,1.0
23294,1&1 De-Mail GmbH [127995],2014-12-09,1,3.0,1.0
24232,1&1 De-Mail GmbH [127995],2015-03-10,1,4.0,1.0
28501,1&1 De-Mail GmbH [127995],2016-04-01,1,5.0,1.0
783,1&1 Internet SE [4497],2009-03-01,1,1.0,1.0
784,1&1 Internet SE [4497],2009-03-01,1,2.0,1.0
2892,1&1 Internet SE [4497],2009-03-06,1,3.0,1.0
2893,1&1 Internet SE [4497],2009-03-06,1,4.0,1.0
3675,1&1 Internet SE [4497],2009-05-28,1,5.0,1.0
3682,1&1 Internet SE [4497],2009-05-28,0,4.0,0.8
4333,1&1 Internet SE [4497],2009-08-05,0,3.0,0.6
4460,1&1 Internet SE [4497],2009-08-24,1,3.0,0.6
4704,1&1 Internet SE [4497],2009-09-16,1,3.0,0.6
4734,1&1 Internet SE [4497],2009-09-21,0,2.0,0.4
4735,1&1 Internet SE [4497],2009-09-21,1,3.0,0.6
4802,1&1 Internet SE [4497],2009-09-24,1,4.0,0.8
4930,1&1 Internet SE [4497],2009-10-08,0,3.0,0.6
5047,1&1 Internet SE [4497],2009-10-23,1,3.0,0.6
5124,1&1 Internet SE [4497],2009-11-02,0,3.0,0.6

### How many in last year, convertion ratio last year?

In [ ]:
import datetime

In [ ]:
cvrl5 = data.groupby('Customer', ).rolling(window=datetime.timedelta(days=365), 
                                           on='Create.Day', min_periods=1).sum()[['Target', 'one']]
cvrl5 = cvrl5.reset_index()
cvrl5.drop('Customer', axis=1, inplace=True)
cvrl5.rename(columns={'Target': 'Customer.Won.LastYear', 'one': 'Customer.Contacts.LastYear', 
                     'level_1': 'Opportunity.Number'}, inplace=True)

In [ ]:
data = data.reset_index()
data = data.merge(cvrl5, on='Opportunity.Number', how='left')
data.set_index('Opportunity.Number', inplace=True)

In [ ]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.LastYear']].sort_values(by=['Customer','Create.Day']).head(20)

In [ ]:
data['Customer.ConvRatio.LastYear'] = data['Customer.Won.LastYear'] / data['Customer.Contacts.LastYear']

In [ ]:
data[['Customer', 'Create.Day', 'Target', 'Customer.Won.LastYear', 
      'Customer.Contacts.LastYear', 'Customer.ConvRatio.LastYear']].sort_values(by=['Customer','Create.Day']).head(30)

### Standard deviation of current Order Entry CHF to average value for a given customer

In [ ]:
data['Order.Entry.CHF.Won'] = data['Order.Entry.CHF'] * data['Target']

In [ ]:
data['Customer.Avg.Order.Entry.CHF.So.Far'] = data.groupby('Customer').cumsum()['Order.Entry.CHF.Won'] / data['Customer.Won.So.Far']

In [ ]:
data[['Customer', 'Create.Day', 'Target', 'Order.Entry.CHF', 'Order.Entry.CHF.Won',
      'Customer.Contacts.So.Far', 'Customer.Avg.Order.Entry.CHF.So.Far']].sort_values(by=['Customer', 'Create.Day']).head(20)

In [ ]:
data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1'] = data.groupby('Customer')['Customer.Avg.Order.Entry.CHF.So.Far'].shift(1)

In [ ]:
data[['Customer', 'Create.Day', 'Customer.Avg.Order.Entry.CHF.So.Far', 
      'Customer.Avg.Order.Entry.CHF.So.Far.Lag1']].sort_values(by=['Customer', 'Create.Day']).head(20)

In [ ]:
data['Customer.Order.Entry.CHF.std2avg'] = (data['Order.Entry.CHF'] - data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1']) /  \
                    data['Customer.Avg.Order.Entry.CHF.So.Far.Lag1'].map(lambda x: np.nan if x==0 else x)

In [ ]:
data[['Customer', 'Create.Day', 'Target', 'Order.Entry.CHF',
      'Customer.Avg.Order.Entry.CHF.So.Far.Lag1', 'Customer.Order.Entry.CHF.std2avg']].sort_values(by=['Customer', 'Create.Day']).head(20)

In [ ]:
data['Customer.Order.Entry.CHF.std2avg'] = data['Customer.Order.Entry.CHF.std2avg'].fillna(0)

In [ ]:
data.groupby('Target').mean()['Customer.Order.Entry.CHF.std2avg']

### Last outcome

In [ ]:
data['Customer.Last.Target'] = data.groupby('Customer')['Target'].shift(1)

### Time (days) since last contact

In [ ]:
data['Customer.Days.Since.LastContact'] = (data['Create.Day'] - data.groupby('Customer')['Create.Day'].shift(1)).dt.days

### Time (days) since last win

In [ ]:
idxWon = (data.Target == 1)
data.loc[idxWon, 'Customer.Last.Day.Won'] = data.loc[idxWon, 'Create.Day']
data['Customer.Last.Day.Won'] = data['Customer.Last.Day.Won'].fillna(method='ffill')
data['Customer.Last.Day.Won'] = data['Customer.Last.Day.Won'].shift(1)
data['Customer.Days.Since.LastWin'] = (data['Create.Day'] - data['Customer.Last.Day.Won']).dt.days

What are negative values?

### Time (days) since last loss

In [ ]:
idxLost = (data.Target == 0)
data.loc[idxWon, 'Customer.Last.Day.Loss'] = data.loc[idxLost, 'Create.Day']
data['Customer.Last.Day.Loss'] = data['Customer.Last.Day.Loss'].fillna(method='ffill')
data['Customer.Last.Day.Loss'] = data['Customer.Last.Day.Loss'].shift(1)
data['Customer.Days.Since.LastLoss'] = (data['Create.Day'] - data['Customer.Last.Day.Loss']).dt.days

### Amount CHF last win

In [ ]:
idxWon = (data.Target == 1)
data.loc[idxWon, 'Customer.CHF.Last.Won'] = data.loc[idxWon, 'Order.Entry.CHF']
data['Customer.CHF.Last.Won'] = data['Customer.CHF.Last.Won'].fillna(method='ffill')
data['Customer.CHF.Last.Won'] = data['Customer.CHF.Last.Won'].shift(1)

### Amount  CHF last loss

In [ ]:
idxLoss = (data.Target == 0)
data.loc[idxWon, 'Customer.CHF.Last.Loss'] = data.loc[idxLoss, 'Order.Entry.CHF']
data['Customer.CHF.Last.Loss'] = data['Customer.CHF.Last.Loss'].fillna(method='ffill')
data['Customer.CHF.Last.Loss'] = data['Customer.CHF.Last.Loss'].shift(1)

In [ ]:
data.info()

In [ ]:
data.to_csv('../data/test.csv', index=False, encoding='latin1')